@mixin subMenuStyle($position, $width, $height, $bg-color, $bottom, $left) {
    position: $position;
    width: $width;
    height: $height;
    background-color: $bg-color;
    bottom: $bottom;
    left: $left;
}