//color
$color-purple: #B61984;
$color-black: #181818;
$color-while: #fff;
$color-violet: #DCD1F0;
//font-size
$font-small: 13px;
$font-medium: 20px;
$font-large: 36px;
$font-x-large: 42px;
//font-weight
$font-weight-300: 300;
$font-weight-400: 400;
$font-weight-600: 600;
$font-weight-700: 700;