.btn_style {
    border-radius: 30px;
    height: 45px;
    border: 1px solid $color-purple;
    font-size: $font-small;
    font-weight: $font-weight-600;
    padding: 0 20px;
    -webkit-box-shadow: 0 0 0 3em $color-purple inset;
    box-shadow: 0 0 0 3em $color-purple inset;
    color: $color-while;
    transition: all 300ms ease;
}

.btn_style:focus {
    outline: none;
}

.btn_style:hover {
    color: $color-purple;
    border: 1px solid $color-purple;
    -webkit-box-shadow: 0 0 0 1px #fff inset;
    box-shadow: 0 0 0 1px #fff inset;
}