footer {
    background-image: url(../../img/footer_background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    margin-top: 31px;
}

.footer_content {
    padding: 0 160px;
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    color: $color-while;

    h3 {
        margin-bottom: 25px;
        font-weight: $font-weight-700;
    }

    .footer_contact {
        p {
            font-size: $font-small;
            font-weight: $font-weight-400;
        }

        p i {
            margin-right: 10px;
        }

        p a {
            color: white;
            transition: all 0.3s;

            &:hover {
                color: $color-black;
            }
        }
    }

    .footer_about {
        p a {
            color: $color-while;
            text-decoration: none;
            font-size: $font-small;
            font-weight: $font-weight-600;
            position: relative;
            padding-bottom: 12px;

            &::after {
                content: "";
                position: absolute;
                height: 1px;
                width: 50px;
                background-color: #990171;
                bottom: 0;
                left: 0;
            }
        }
    }

    .footer_input {
        input {
            display: block;
            background-color: transparent;
            border: 1px solid #B31B8B;
            border-radius: 30px;
            height: 50px;
            font: inherit;
            color: inherit;
            outline: none;
            transition: all 0.5s;
            width: 250px;
            margin-top: 45px;
            text-align: center;
        }

        input::placeholder {
            color: $color-while;
        }

        input:focus {
            border: 1px solid white;
        }
    }

    .btn_footer {
        width: 100%;
        margin-top: 30px;
        box-shadow: 0 0 0 1px #fff inset;
        color: $color-black;
        border: none;
    }

    .btn_footer:hover {
        box-shadow: 0 0 0 3em #b61984 inset;
        color: $color-while;
        border: 1px solid white;
    }
}

@media (max-width:992px) {
    footer {
        height: 750px;
    }

    .footer_content {
        padding: 0 20px;
        padding-top: 100px;
        display: grid;
        grid-template-columns: auto auto;
        color: $color-while;
    }

    .footer_input {
        // width: 450px !important;
        // max-width: 450px;
        width: 100%;

        input {
            width: 450px !important;
        }
    }
}

@media (max-width:700px) {
    .footer_input {
        // width: 450px !important;
        // max-width: 450px;

        input {
            width: 250px !important;
        }
    }
}

@media (max-width:480px) {
    footer {
        height: 1000px;
    }

    .footer_content {
        padding: 0 20px;
        padding-top: 100px;
        display: grid;
        grid-template-columns: auto;
        color: $color-while;
    }

    .footer_input {
        // width: 450px !important;
        // max-width: 450px;

        input {
            width: 100%;
        }


    }
}